body {
margin: 0;
}

#container {
padding: 40px;
background: #99bbca
}

h1, h2{
text-align: center;
color: #FFFFFF;
background-size: cover;
background: #0e3f56;
padding: 20px;
margin: 0;
}

h2 {
background: #0e3f5678;
}

#head {
width: 100%;
margin: 0;
overflow: hidden;
}


nav {
    margin-left: 16pt;
    font-size: 16pt;
    width: 230px;
    height: 100%;
    float: left;
}

nav a {
    text-decoration: none;
    color: %031455;
    display: block;
    margin: 10px 0px;
}

section {
margin-left: 250px;
}

content {
float: left;
}

photo {
float: right;
}

#bord {
min-width: 100%;
min-height: 15cm;
background-color: #99bbca;
}

#footer {
margin: 0;
width: 100%;
min-height: 4cm;
background: #0e3f56
}

#new {
color: white;
text-decoration: none;
}

#foot {
padding: 24px;
width: 100%;
align: center;
}

#foot1 {
font-size: xx-large;
text-align: center;
text-transform: uppercase;

}

