<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'stena/style.css' %}" type="text/css">
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <img id="head" src="{% static 'stena/bg.jpg' %}" alt="Вести недели">
    {% block header %}
    {% endblock %}
    <div id="container">
    <div id="bord">
        <nav>
            <a href="{% url 'index' %}">Главная страница</a>
            {% for i in cats %}
            {% if i == cur_cat %}{{i.name}}     {% else %}<a href="{{ i.get_absolute_url }}">{{ i.name }}</a>   {% endif %}
            {% endfor %}
        </nav>
        <section>
            {% block content %}
            {% endblock %}
        </section>
    </div>
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>