:root {
    --color1: #b3ecb3;
    --color2: #56bee4;
    --color3: #0089BA;
    --color4: #002D3D;
}
/* Image */

/* Navbar */
.fi-navbar {
    padding:20px;
    background-color: var(--color3) !important;
}

.fi-navbar button {
    border: 0;
    background-color: var(--color4);
}

.fi-navbar button:focus,
.fi-navbar button:active,
.fi-navbar button:hover {
    background-color: var(--color2);
    box-shadow: none;
}

.btn-toolbar .mr-2 {
    margin-right: 5px;
}

/* Sidebar */
.fi-sidebar, .fi-sidepost {
    border-radius: 0;
}
.fi-side {
    margin: 0;
    
    width:100%;
}
.fi-side-2 {
    position: absolute;
    top:auto;
}
.fi-sidepost {
  
}

/* Content */
.fi-content {
    
}
