:root {
    --color1: #a6caff;
    --color2: rgba(237, 249, 253, 0.72);
    --color3: #0089BA;
    --color4: #002D3D;
    --color5: #f3f7ff;
}

/* Image */

/* Navbar */
.fi-navbar {
    padding:20px;
    background-color: var(--color3) !important;
}

.fi-navbar button {
    border: 0;
    background-color: var(--color4);
}

.fi-navbar button:focus,
.fi-navbar button:active,
.fi-navbar button:hover {
    background-color: var(--color2);
    box-shadow: none;
}

.btn-toolbar .mr-2 {
    margin-right: 5px;
}

/* Sidebar */
.fi-sideall {
    border-radius: 0;
}
.fi-side {
    margin: 0;
    width:100%;
}
.fi-side-2 {
    background-color: var(--color5);
    position: absolute;
    top:auto;
}
.fi-sidebar {
  background-color: var(--color2);
}

/* Content */
.fi-content {
    background-color: var(--color5);
}
