{% extends "layout/basic.html" %}
{% block content1 %}
<h1>Объявления</h1>
{% if cur_cat is not None %}
<h2>Категория {{ cur_cat.name }}</h2>
{% endif %}
{% endblock %}

{% block content2 %}
{% for mes in Mes %}
<div>
    <a href="{{ mes.get_absolute_url }}"><h3>{{ mes.title }}</h3></a>
    <div id="content">{{ mes.content }}</div>
    {% if mes.photo.name != '' %}
    <div id="photo"><img src="{{ mes.photo.url }}" width="350" height="350"></div>
    {% endif %}
    <p>{{ mes.published|date:"d.m.Y H:i:s" }}   <a href="{{ mes.get_absolute_url }}">{{ mes.category.name }}</a></p>
</div>
<hr>
{% endfor %}
{% endblock %}

{% block content3 %}
<div id="foot">
<a id="new" href="{% url 'add' %}"><p id="foot1">Разместить своё объявление...</p></a>
</div>
{% endblock %}