{% extends "layout/base.html" %}

{% block title %}
{% block title2 %}
{% if cur_cat is not None %}
Все записи категории {{cur_cat.name}}
{% else %}
Стена объявлений. Заглавная страница
{% endif %}
{% endblock %}
{% endblock %}


{% block header %}
<h1 class='navbar-brand text-uppercase'>Объявления</h1>
{% if cur_cat is not None %}
<h2 class="text-uppercase">Категория {{ cur_cat.name }}</h2>
{% endif %}
{% endblock %}


{% block content %}
{% include 'inc/_mes.html' %}
{% endblock %}


{% block footer %}
<a href="{% url 'add' %}" id="new" style="text-decoration: none; color: white;">
    <h2 id="foot1">разместить своё объявление</h2>
</a>
{% endblock %}