{% extends 'layout/base.html' %}

{% block title %}
{{ mes.title }}
{% endblock %}

{% block header %}
<div id="title">
<h1>{{ mes.title }}</h1>
</div>
{% endblock %}

{% block content %}
<div id="content">
    {{ mes.content }}
</div>
<div id="photo">
    {% if mes.photo %}
    <img src="{{ mes.photo.url }}" width="300">
    {% endif %}
</div>
<div id="other">
    <a href="{{ mes.category.get_absolute_url }}">{{ mes.category }}</a>
    <p id="published">{{ mes.published }}</p>
    {% if mes.price %}
    <p id="price">{{ mes.price }}</p>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
<a href="{% url 'index' %}">Вернуться на главную</a>
{% endblock %}

